name: Build Packages

on:
  push:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: windows-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Build project
        run: dotnet build ./GroupDocs.Viewer.Cli.sln